@media (max-width:769px) {
   nav {
     padding: 15px 20px;
  }
  nav img {
   width: 80px;
}
#menu-btn {
   display: initial;
}
#menu-close {
   display: initial;
   font-size: 30px;
   padding: 30px 0 20px 20px;
   color: white;
}
nav .navigation ul {
   position: absolute;
   top: 0;
   right: -220px;
   width: 220px;
   background: rgba(17,20,104,0.45);
   backdrop-filter: blur(4.5px);
   border: 1px solid rgba(255,255,255,0.18);
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   transition: 0.3s ease;
}
nav .navigation ul.active {
   right: 0;
}
nav img {
  width: 120px;
}
}

*{
    margin: 0;
    padding: 0;
 }
 body {
    font-family: 'Poppins', sans-serif;
 }
 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 10px rgba(12, 11, 11, 0.15);
 }
 nav img {
    width: 160px;
    cursor: pointer;
 }
 nav .navigation {
    display: flex;
 }
 #menu-btn {
    width: 50px;
    height: 50px;
    display: none;
 }
 #menu-close {
    display: none;
 }
 nav .navigation ul {
    display: flex;
    align-items: center;
 }
 nav .navigation ul li {
      list-style: none;
      margin-left: 30px;
 }
 nav .navigation ul li a {
    text-decoration: none;
    color: green;
    font-size: 25px;
    font-weight: 500;
    transition: 0.1s ease;
 }
 nav .navigation ul li a:active {
    color: #f0b30a;
 }
 nav .navigation ul li a.active,
 nav .navigation ul li a:hover {
    color: yellow;
 }

 #contact .getin-details h3 {
    font-size: 23px;
    font-weight: 600;
    color:#03031d;
    margin-bottom: 5px;
    margin-top: 35px;
 }
 #contact .getin-details i {
    margin-bottom: 8px;
    color: #060681;
 }
 #contact .getin-details p {
    font-size: 17px;
    margin-bottom: 5px; 
 }
 #contact .getin-details .links i {
    padding: 10px 10px;
    border: 1px solid rgb(5, 5, 34);
    cursor: pointer;
    margin-bottom:40px;
 }
 #contact .form {
    background-color: #e8e6ec;
    width: 60%;
    padding: 3vw;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
 }
 #contact .form h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 6px;
 }
 #contact .form p {
    font-size: 20px;
    margin-bottom: 20px;
 }
 #contact .form .mb-3 input{
   padding: 10px 10px;
   width: 100%;
 }
 #contact .form .mb-3 label {
    font-size: 22px;
    font-weight: 500;
 }
 #contact .form .mb-4 input{
   padding: 20px 10px;
   width: 100%;
 }
 #contact .form .mb-4 label {
    font-size: 22px;
    font-weight: 500;
 }
 #contact .form button {
    background-color: #03031d;
    color: white;
    padding: 10px 30px;
 }


 #register .reminder.form .mb-3 input{
   padding: 10px 10px;
   width: 100%;
 }
 #register .reminder.form .mb-3 label {
    font-size: 22px;
    font-weight: 500;
 }
 #register .reminder .form button {
    background-color: #03031d;
    color: white;
    padding: 10px 30px;
 }

 #map {
    width: 100%;
    height: 70vh;
    margin-bottom: 60px;
 }
 #map iframe{
    width: 100%;
    height: 100%;
    
 }
 /*footer*/
footer {
    background: rgb(3, 3, 22);
    padding: 8vw;
 }
 footer .foot-col {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
 }
 footer .footer-col {
    padding-bottom: 40px;
 }
 footer h3 {
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
 }
 footer p {
    list-style: none;
    color: #7b838a;
    cursor: pointer;
    padding: 10px 0;
    font-size: 15px;
    transition: 0.3s ease;
 }
 footer p:hover {
    color: white;
 }
 footer .footer-col li {
    list-style: none;
    color:white;
 }
 footer .subscribe {
    margin-top: 25px;
 }
 footer input {
    width: 250px;
    padding:15px 12px;
    border: none;
    outline: none;
    color: white;
 }
 footer a {
    text-decoration: none;
     font-size: 20px;
     padding: 9px 15px;
     background-color: white;
     font-weight: 600;
 }
 footer a.yellow {
    color: black;
    background-color: #f0b30a;
    transition: 0.2s ease;
 }
 footer a.yellow:hover {
    color: black;
    background-color: rgb(115, 189, 183);
 }
  footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 footer .copyright b {
    color: white;
    font-weight: 400;
 }
 footer .copyright .links i {
    padding: 10px 10px;
    border: 1px solid rgb(189, 189, 212);
    cursor: pointer;
    color: white;
    background: gray;
 }
 footer .copyright .links i:hover {
    color: black;
    background: yellow;
 }